# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [35]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [7]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [17]:
# Your code here:
print("Number of legendary and non legendary Pokemons:\n", pokemon['Legendary'].value_counts().reset_index())

Number of legendary and non legendary Pokemons:
    Legendary  count
0      False    735
1       True     65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [33]:
# Your code here:
pokemon.groupby('Legendary')['Total'].agg(['mean','std'])

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [37]:
# Your code here:
legendary_stats = pokemon[pokemon['Legendary'] == True]["Total"].dropna()
non_legendary_stats = pokemon[pokemon['Legendary'] == False]["Total"].dropna()

t_stat, p_value = st.ttest_ind(legendary_stats, non_legendary_stats, equal_var=False)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

Test Statistic (t): 25.83
P-Value: 0.0000

What do you conclude from this test? Write your conclusions below.

In [39]:
# Your conclusions here:

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean stats for legendary and non legendary pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean stats are different for legendary and non legendary pokemons")

Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean stats are different for legendary and non legendary pokemons

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [41]:
# Your code here:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [52]:
# Your code here:

pokemon.groupby('Type 1')['Total'].agg(['mean','std'])

                mean         std
Type 1
Bug       378.927536  117.875223
Dark      445.741935  109.126217
Dragon    550.531250  146.267538
Electric  443.409091  105.721952
Fairy     413.176471  123.781680
Fighting  416.444444  102.464378
Fire      458.076923  109.760496
Flying    485.000000  161.400124
Ghost     439.562500  110.072685
Grass     421.142857  106.650626
Ground    437.500000  123.913081
Ice       433.458333  108.281027
Normal    401.683673  115.733038
Poison    399.142857   92.358687
Psychic   475.947368  139.026645
Rock      453.750000  108.059227
Steel     487.703704  115.420907
Water     430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [43]:
# Your code here:
water_stats = pokemon[pokemon['Type 1'] == 'Water']["Total"].dropna()
non_water_stats = pokemon[pokemon['Type 1'] != 'Water']["Total"].dropna()

t_stat, p_value = st.ttest_ind(water_stats, non_water_stats, equal_var=True)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

Test Statistic (t): -0.44
P-Value: 0.6587

Write your conclusion below.

In [46]:
# Your conclusions here:

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean stats for water and non water pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean stats are different for water and non water pokemons")

Fail to Reject the Null Hypothesis: The mean stats for water and non water pokemons are not significantly different.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [54]:
# Perform paired t-test
t_stat, p_value = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

# Significance level
alpha = 0.05

Test Statistic (t): 4.33
P-Value: 0.00001714030347935855799128106180528874347146484070

Describe the results of the test in the cell below.

In [57]:
# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between attack and defense")
else:
    print("Reject the Null Hypothesis: There is a significant difference between attack and defense")

Reject the Null Hypothesis: There is a significant change in blood pressure after treatment.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [98]:
# Your code here:
t_stat, p_value = st.ttest_ind(pokemon["Sp. Atk"].dropna(), pokemon["Sp. Def"].dropna())
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

Test Statistic (t): 0.60
P-Value: 0.5458

Describe the results of the test in the cell below.

In [103]:
# Your conclusions here:

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean sp.def and sp.atk of pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean sp.def and sp.atk of pokemons are different")

Fail to Reject the Null Hypothesis: The mean sp.def and sp.atk of pokemons are not significantly different.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [95]:
pokemon['Difference'] = pokemon["Attack"] - pokemon["Defense"]

t_stat, p_value = st.ttest_1samp(pokemon['Difference'].dropna(), 0)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: Not enough evidence to say the attack is different from defense.")
else:
    print("Reject the Null Hypothesis: There is evidence to say the attack is different from defense.")

Test Statistic (t): 4.33
P-Value: 0.0000

Reject the Null Hypothesis: There is evidence to say the attack is different from defense.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [129]:
# Your code here:
contingency_table = pd.crosstab(pokemon['Legendary'],pokemon['Type 1'].apply(lambda x: x == 'Water'), colnames=['Water Type'])
contingency_table

Water Type  False  True
Legendary
False         627    108
True           61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [133]:
# Your code here:
chi2, p, dof, expected = st.chi2_contingency(contingency_table)

# Print results
print("Chi-squared Statistic:", chi2)
print("p-value:", p)
print("Degrees of Freedom:", dof)
print("Expected Frequencies:\n", expected)

Chi-squared Statistic: 2.9429200762850503
p-value: 0.08625467249550949
Degrees of Freedom: 1
Expected Frequencies:
 [[632.1 102.9]
 [ 55.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [136]:
# Your answer here:
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: Not enough evidence to say that are significant difference in frequencies.")
else:
    print("Reject the Null Hypothesis: There is evidence to say that are significant difference in frequencies.")

Fail to Reject the Null Hypothesis: Not enough evidence to say that are significant difference in frequencies.